.main_container {
  background-image: url(./IMAGENES/FONDOS/FONDO-GENERAL.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-item :hover {
  opacity: 0.65;
  color: #ed1e24;
}
.menu {
  background-color: #ed1e24;
}
.font_montserrat {
  font-family: "Montserrat", sans-serif;
}
.color_font {
  color: #ed1e24;
}
.bg_black {
  background-color: black;
}
.border_dotted {
  border: 4px dotted #ed1e24;
}
.animated-text {
  background: linear-gradient(90deg, #ed1e24, white, white) 0 0 / 400% 100%;
  animation: move-bg 4s infinite linear;
  color: transparent;
  -webkit-background-clip: text;
}
@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.carousel-item img {
  object-fit: scale-down;
  height: 90vh;
  width: 100%;
}
.border-color {
  border-color: #ed1e24;
}
