.main_container {
  background-image: url(../images/fondos/FONDO-GENERAL.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu {
  background-color: $primary-color;
}
.font_montserrat {
  font-family: $font-type;
}
.color_font {
  color: $primary-color;
}
.bg_black {
  background-color: black;
}
.animated-text {
  background: linear-gradient(90deg, $primary-color, white, white) 0 0 / 400%
    100%;
  animation: move-bg 4s infinite linear;
  color: transparent;
  -webkit-background-clip: text;
}
@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.border-color {
  border-color: $primary-color;
}
